<div class="app-card">
  <div class="image-card">
    <img [src]="movie.poster_path" alt="Descrição da imagem" />
  </div>
  <div class="content-card">
    <p>
      <a [href]="'/' + movie.id" class="fw-semibold c-fs-15 c-color-dark">
        {{ movie.title }}
      </a>
    </p>
    <div>
      <span class="c-color-gray c-fs-15"> {{ movie.release_date }}</span>
    </div>
    <div class="d-md-none description-card">
      <p class="text">
        {{ movie.overview }}
      </p>
    </div>
  </div>
</div>
